In [2]:
#Python Pandas 常用方法
#引入包  
import pandas as pd 
import numpy as np

In [3]:
#创建对象
#1->通过传递一个list对象来创建一个Series

s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [4]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
#2->通过传递一个numpy array, 时间索引以及列标签来创建一个DataFrame
dates = pd.date_range('20180101',periods=6)

In [6]:
dates

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [8]:
df

                   A         B         C         D
2018-01-01  1.662617  0.583533  0.555059 -0.271874
2018-01-02  0.256219 -0.298014 -0.972340 -1.114136
2018-01-03  0.210984  0.025582 -0.347350  1.725899
2018-01-04 -0.467886 -1.917292  1.841906  0.467838
2018-01-05  0.780441 -1.225412  1.107261  0.326419
2018-01-06 -0.169321  0.139376 -0.965705 -0.184502

In [9]:
#3->通过传递一个能够被转换成类似序列结构的字典对象来创建一个DataFrame
df2 = pd.DataFrame({
        'A' : 1.,
        'B' : pd.Timestamp('20180102'),
        'C' : pd.Series(1, index=list(range(4)),dtype='float32'),
        'D' : np.array([3] * 4, dtype='int32'),
        'E' : pd.Categorical(["test", "train", "test", "train"]),
        'F' : 'foo'
    })

In [10]:
df2

     A          B    C  D      E    F
0  1.0 2018-01-02  1.0  3   test  foo
1  1.0 2018-01-02  1.0  3  train  foo
2  1.0 2018-01-02  1.0  3   test  foo
3  1.0 2018-01-02  1.0  3  train  foo

In [11]:
#4->查看不同的数据类型
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [12]:
#查看数据
#1->查看frame中头部和尾部的行
df.head()

                   A         B         C         D
2018-01-01  1.662617  0.583533  0.555059 -0.271874
2018-01-02  0.256219 -0.298014 -0.972340 -1.114136
2018-01-03  0.210984  0.025582 -0.347350  1.725899
2018-01-04 -0.467886 -1.917292  1.841906  0.467838
2018-01-05  0.780441 -1.225412  1.107261  0.326419

In [13]:
df.tail(3)

                   A         B         C         D
2018-01-04 -0.467886 -1.917292  1.841906  0.467838
2018-01-05  0.780441 -1.225412  1.107261  0.326419
2018-01-06 -0.169321  0.139376 -0.965705 -0.184502

In [14]:
#2->显示索引/列和底层的numpy数据：df.index, df.columns, df.values

In [15]:
df.index

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

In [16]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [17]:
df.values

array([[ 1.66261729,  0.5835332 ,  0.55505876, -0.2718739 ],
       [ 0.25621889, -0.29801445, -0.97234021, -1.11413555],
       [ 0.21098351,  0.02558152, -0.34734985,  1.7258988 ],
       [-0.46788641, -1.91729236,  1.84190599,  0.46783786],
       [ 0.78044119, -1.22541242,  1.10726099,  0.32641895],
       [-0.1693209 ,  0.13937644, -0.96570486, -0.18450195]])

In [18]:
#3->describe()函数对于数据的快速统计汇总  df.describe()
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.378842 -0.448705  0.203138  0.158274
std    0.757629  0.940110  1.155667  0.949010
min   -0.467886 -1.917292 -0.972340 -1.114136
25%   -0.074245 -0.993563 -0.811116 -0.250031
50%    0.233601 -0.136216  0.103854  0.070959
75%    0.649386  0.110928  0.969210  0.432483
max    1.662617  0.583533  1.841906  1.725899

In [19]:
#4->对数据的转置  df.T
df.T

   2018-01-01  2018-01-02  2018-01-03  2018-01-04  2018-01-05  2018-01-06
A    1.662617    0.256219    0.210984   -0.467886    0.780441   -0.169321
B    0.583533   -0.298014    0.025582   -1.917292   -1.225412    0.139376
C    0.555059   -0.972340   -0.347350    1.841906    1.107261   -0.965705
D   -0.271874   -1.114136    1.725899    0.467838    0.326419   -0.184502

In [20]:
#5->按轴进行排序
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2018-01-01 -0.271874  0.555059  0.583533  1.662617
2018-01-02 -1.114136 -0.972340 -0.298014  0.256219
2018-01-03  1.725899 -0.347350  0.025582  0.210984
2018-01-04  0.467838  1.841906 -1.917292 -0.467886
2018-01-05  0.326419  1.107261 -1.225412  0.780441
2018-01-06 -0.184502 -0.965705  0.139376 -0.169321

In [21]:
#6->按值进行排序
df.sort(columns='B')

D:\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

                   A         B         C         D
2018-01-04 -0.467886 -1.917292  1.841906  0.467838
2018-01-05  0.780441 -1.225412  1.107261  0.326419
2018-01-02  0.256219 -0.298014 -0.972340 -1.114136
2018-01-03  0.210984  0.025582 -0.347350  1.725899
2018-01-06 -0.169321  0.139376 -0.965705 -0.184502
2018-01-01  1.662617  0.583533  0.555059 -0.271874

In [22]:
#选择    建议使用经过优化的pandas数据访问方式： .at, .iat, .loc, iloc 和 .ix

In [23]:
#1->获取数据
#1）-> 选择一个单独的列，将会返回一个Series, 等同于df.A
df['A']

2018-01-01    1.662617
2018-01-02    0.256219
2018-01-03    0.210984
2018-01-04   -0.467886
2018-01-05    0.780441
2018-01-06   -0.169321
Freq: D, Name: A, dtype: float64

In [24]:
#2)-> 通过[]进行选择, 这将会对“行”进行切片
df[0:3]

                   A         B         C         D
2018-01-01  1.662617  0.583533  0.555059 -0.271874
2018-01-02  0.256219 -0.298014 -0.972340 -1.114136
2018-01-03  0.210984  0.025582 -0.347350  1.725899

In [25]:
df['20180102':'20180204']

                   A         B         C         D
2018-01-02  0.256219 -0.298014 -0.972340 -1.114136
2018-01-03  0.210984  0.025582 -0.347350  1.725899
2018-01-04 -0.467886 -1.917292  1.841906  0.467838
2018-01-05  0.780441 -1.225412  1.107261  0.326419
2018-01-06 -0.169321  0.139376 -0.965705 -0.184502

In [26]:
df['20180102':'20180104']

                   A         B         C         D
2018-01-02  0.256219 -0.298014 -0.972340 -1.114136
2018-01-03  0.210984  0.025582 -0.347350  1.725899
2018-01-04 -0.467886 -1.917292  1.841906  0.467838

In [28]:
#2-> 通过标签进行选择  .loc[]
#1)-> 使用一个标签来获取一个交叉的区域
df.loc[dates[0]]

A    1.662617
B    0.583533
C    0.555059
D   -0.271874
Name: 2018-01-01 00:00:00, dtype: float64

In [29]:
#2)-> 通过标签来在多个轴上进行选择
df.loc[:, ['A','B']]

                   A         B
2018-01-01  1.662617  0.583533
2018-01-02  0.256219 -0.298014
2018-01-03  0.210984  0.025582
2018-01-04 -0.467886 -1.917292
2018-01-05  0.780441 -1.225412
2018-01-06 -0.169321  0.139376

In [30]:
#3)-> 标签切片
df.loc[:, ['A', 'B']]

                   A         B
2018-01-01  1.662617  0.583533
2018-01-02  0.256219 -0.298014
2018-01-03  0.210984  0.025582
2018-01-04 -0.467886 -1.917292
2018-01-05  0.780441 -1.225412
2018-01-06 -0.169321  0.139376

In [31]:
#4)->对于返回的对象进行维度缩减
df.loc['20180102', ['A', 'B']]

A    0.256219
B   -0.298014
Name: 2018-01-02 00:00:00, dtype: float64

In [32]:
#5-> 获取一个标量
df.loc[dates[0], 'A']

1.6626172910382984

In [33]:
#6-> 快速访问一个标量
df.at[dates[0], 'A']

1.6626172910382984